*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,

h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	font-weight: 500;
	color: #252b42;
	font-family: Montserrat;
	background-color:  #FAFAFA;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 1046px;
	margin: 0px auto;
	padding: 0 15px;
	box-sizing: content-box;
}
.ibg {

}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*----------------------Шапка-----------------*/
.header{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container{
	display: flex;
	min-height: 104px;
	align-items: center;
} 
@media (max-width:  479px) {
	.header__container {
		min-height: 85px	}
	}
	.header__logo{
		font-size: 24px;
		font-weight: 700;
		color: inherit;
	}
	.header__menu {
		margin: 0px 0px 0px 134px;
	}
	@media (max-width: 992px) {
		.header__menu {
			margin: 0px 0px 0px 80px;
		}
	}
	@media (max-width:  767px) {
		.header__menu {
			margin: 0px 0px 0px 40px;
		}
	}
	@media (max-width:  479px) {
		.header__menu {
			margin: 0px 0px 0px 20px;
		}
	}
	.menu{
		padding: 5px 0;
	} 
	.menu__list{
		display: flex;
		flex-wrap: wrap;
	}
	.menu__item{

	}
	.menu__item:not(:last-child) { 
		margin: 0px 21px 0px 0px;
	}

	.menu_link{
		color: #737373;
		font-weight: 600;
		line-height: calc(24/14 *100%);
	}
	@media (max-width:  479px) {
		.menu_link {
			margin: 0px 0px 0px 20px;
			font-size: 18px;
		}
	}
	/*----------------------page-----------------*/
	.page {
		flex: 1 1 auto;
	}
	.page__main-block {

	}
	.page__services{
		margin-top:  -111px;
		position: relative;
		z-index: 2;
	}
	.page__adventages{
	}
	.page__practice 
	/*----------------header block--------------*/
	.header__block{
		text-align: center;
		line-height: 142%;
		letter-spacing: 0.2px;
		font-weight: 700;		
	}

	.header__block__title{
		font-size: 40px;
		line-height: 142.5%;
	}
	.header__block__title:not(:last-child){
		padding: 0px 0px 10px 0px;
	}
	.header__block__subtitle{
		color: #737373;
		line-height: 142%;
		font-weight: 500;
	}
	@media (max-width: 992px) {
		.header__block__title {
			font-size: 30px;
		}
	}

	/*----------------------Подвал-----------------*/
	.footer {

	}
	/*----------------------main block-----------------*/
	.main-block {
		position: relative;
	}
	.main-block__body{
		padding: 184px 0px 191px 0px ;
		position: relative;
		z-index: 2;
		max-width: 400px;
	}

	@media (max-width: 992px) {
		.main-block__body{
			padding: 120px 0px 191px 0px;
		}
	}
	.main-block__body> *:not(:last-child) {
		padding: 0px 0px 35px 0px;
	}
	.main-block__title {
		font-size: 58px;
		line-height: calc(80/58*100%);
		font-weight: 800;
		letter-spacing: 0.2px;
	}
	@media (max-width: 479px ) { 
		.main-block__title {
			font-size:40px;
		}
	}
	.main-block__text{
		color: #737373;
		font-size: 20px;
		font-weight: 500;
		line-height: calc(30/20*100%);
	}
	@media (max-width: 479px){
		.main-block__text {
			color: #282525;
		}
	}
	.main-block__buttons {
		display: inline-flex;
		flex-wrap: wrap;
		margin: -10px 0px;
	}
	.main-block__button{
		border-radius: 37px;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 38px;
		color: #fff;
		letter-spacing: 0.2px;
		font-weight: 700;
		line-height: 200%;
		padding: 0px 36px;
	}
	@media (max-width: 479px) {
		.main-block__button{
			flex: 1 1 100%;
		}
	}
	@media (max-width: 479px) {
		.main-block__button_border{
			margin-right: 10px;
		}
	}
	.main-block__button:not(:last-child) {
		margin:	0px 10px 0px 0px;
	}
	.main-block__button_orange{
		background: #FF7B47;
	}
	.main-block__button_border{
		color: #0D5C63;
		border: 1px solid #0D5C63;
	}
	.main-block__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	@media (max-width: 1300px) {
		.main-block__image img {
			object-position: right;
		}
	}
	@media (max-width: 992px) {
		.main-block__image img {
			opacity: 0.5;
		}
	}
	/*-----------------services----*/
	
	.services{

	}
	.services__container{

	}
	.services__body {
	}
	@media (min-width: 670px){
		.services__body {
			display: flex;
			flex-wrap: wrap ;
			margin:  0px -15px ;
		}
	}
	.services__column{
		flex: 0 1 33.333%;
		margin: 0px 0px 30px 0px;
	}
	@media (min-width: 670px){
		.services__column{
			padding: 0px 15px;
		}
	}
	@media (max-width: 992px) {
		.services__column{
			flex: 0 1 50%;
		}
		.services__column:last-child {
			flex:  1 1 100% ;
		}
	}
	

	.services__item {
		box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
		background-color: #fff;
		padding: 35px;
		height: 100%;
	}
	@media (max-width: 479px) {
		.services__item {
			padding: 25px;
		}
	}
	.item-service{
	}
	.item-service > *:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
	.item-service_green {
		background: #0D5C63;
	}
	.item-service_green .item-service__title{
		color: white;
	}
	.item-service_green .item-service__text{
		color: white;
	}
	.item-service__icon
	.item-service__title {
		font-weight: 700;
		font-size: 24px;
		letter-spacing: 0.1px;
		line-height: calc(32/24*100%);
	}
	.item-service__text {
		color :#737373;
		line-height: 142%;
	}
	/*-------------------adventages------------*/

	.adventages{ 
		padding: 80px 0px;
	}
	@media (max-width: 992px) {
		.adventages: {padding: 50px 0px;}
	}
	@media (max-width:767px ) {
		.adventages {
			padding: 30px 0px;
		}
	}
	.adventages__container{}
	.adventages__header{
		margin: 0px 0px 50px 0px;
		text-align: center;
	}
	@media (max-width:767px ) {
		.adventages__header {
			margin: 0px 0px 25px 0px;
		}
	}
	.adventages__body{
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
		font-weight: 700;
	}
	.adventages__column{
		padding: 0px 15px;
		flex: 0 1 25%;
	}
	@media (max-width: 1020px) {
		.adventages__column {
			flex: 0 1 50%;
			margin-top: 10px;
		}
	}
	@media (max-width:  492px) {
		.adventages__column {
			flex: 1 1 100%;
			margin-top: 10px;
		}
	}
	.adventages__item{
		padding: 30px;
		background-color: white;
		text-align: center;
	}
	.adventages__item >* :not(:last-child){
		padding: 0px 0px 10px 0px;
	}
	.adventages__icon{
		display: flex;
		align-items: flex-end;
		justify-content: center;
		height: 40px;

	}
	.adventages__value{
		font-size: 40px;
		line-height: 142%;
	}
	.adventages__text{
		color: #737373;
		font-size: 16px;
		line-height: 150%;
	}
	/*----------------------PRACTICE-------------------*/
	.practice{
		padding: 125px 0px 80px 0px;
	}
	@media (max-width: 993px) {
		.practice {
			padding: 80px 0px 80px 0px;
		}
	}
	@media (max-width: 767px) {
		.practice {
			padding: 0px 0px 40px 0px;
		}
	}
	.practice__container{

	}
	.practice__header{
		margin: 0px 0px 45px 0px;
	}
	.practice__body{
		margin: 0px -20px;
		display: flex;
		flex-wrap: wrap;
	}
	.practice__column {
		padding: 0px 20px;
		flex: 0 1 25%;
	}
	@media (max-width: 1040px) {
		.practice__column{
			flex:  0 1 50%;
		}
	}
	.item-practice{
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.practice__item{
		background-color: #fff;

	}
	.item__practice__content {
		padding: 30px; 
		flex: 1 1 auto;
	}
	.item__practice__link{
		color: inherit;
		display: inline-block;
	}
	.item-practice__link:not(:last-child) {
		margin: 0px 0px 15px 0px;
		}	 {
			text-decoration: underline;
		}
		.item__practice__title{
			letter-spacing: 0.1px;
			font-size: 16px;
			line-height: 150%;
			font-weight: 700;
		}
		.item__practice__title:hover {
			text-decoration: underline;
		}
		.item-practice__text{
			color: #727272;
			line-height: 142%;
		}
		.item__practice__image{
			position: relative;
			display: block;
			padding: 0px 0px 60% 0px;
		}
