*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	font-weight: 500;
	color: #252b42;
	font-family: Montserrat;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
._container {
	max-width: 1046px;
	margin: 0px auto;
	padding: 0 15px;
	box-sizing: content-box;
}
/*----------------------Шапка-----------------*/
.header{
position: absolute;
width: 100%;
left: 0;
top: 0;
z-index: 50;
}
.header__container{
display: flex;
min-height: 104px;
align-items: center;
} 
.header__logo{
font-size: 24px;
font-weight: 700;
color: inherit;
}
.header__menu {
margin: 0px 0px 0px 134px;
}
@media (max-width: 992px) {
	.header__menu {
margin: 0px 0px 0px 80px;
}
}
@media (max-width:  767px) {
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
}
.menu{

} 
.menu__list{
display: flex;
flex-wrap: wrap;
}
.menu__item{

}
.menu__item:not(:last-child) { 
margin: 0px 21px 0px 0px;
}

.menu_link{
color: #737373;
font-weight: 600;
line-height: calc(24/14 *100%);
}