*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,

h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	font-weight: 500;
	color: #252b42;
	font-family: Montserrat;
	background-color:  #FAFAFA;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 1046px;
	margin: 0px auto;
	padding: 0 15px;
	box-sizing: content-box;
}
.ibg {

}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*----------------------Шапка-----------------*/
.header{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container{
	display: flex;
	min-height: 104px;
	align-items: center;
} 
@media (max-width:  479px) {
	.header__container {
		min-height: 85px	}
	}
	.header__logo{
		font-size: 24px;
		font-weight: 700;
		color: inherit;
	}
	.header__menu {
		margin: 0px 0px 0px 134px;
	}
	@media (max-width: 992px) {
		.header__menu {
			margin: 0px 0px 0px 80px;
		}
	}
	@media (max-width:  767px) {
		.header__menu {
			margin: 0px 0px 0px 40px;
		}
	}
	@media (max-width:  479px) {
		.header__menu {
			margin: 0px 0px 0px 20px;
		}
	}
	.menu{
		padding: 5px 0;
	} 
	.menu__list{
		display: flex;
		flex-wrap: wrap;
	}
	.menu__item{

	}
	.menu__item:not(:last-child) { 
		margin: 0px 21px 0px 0px;
	}

	.menu_link{
		color: #737373;
		font-weight: 600;
		line-height: calc(24/14 *100%);
	}
	@media (max-width:  479px) {
		.menu_link {
			margin: 0px 0px 0px 20px;
			font-size: 18px;
		}
	}
	/*----------------------page-----------------*/
	.page {
		flex: 1 1 auto;
	}
	.page__main-block {

	}
	.page__services{
		margin-top:  -111px;
		position: relative;
		z-index: 2;
	}
	.page__adventages{}
	.page__practice {}
	.page__whoWeAre{}
	.page__clients{
		margin: 0p 0p 10px 0px;
	}
	.page_subscribe{}
	.page__contact{}
	/*----------------header block--------------*/
	.header__block {
		text-align: center;
		line-height: 142%;
		letter-spacing: 0.2px;
		font-weight: 700;		
	}

	.header__block__title{
		font-size: 40px;
		line-height: 142.5%;
	}
	.header__block__title:not(:last-child){
		padding: 0px 0px 10px 0px;
	}
	.header__block__subtitle{
		color: #737373;
		line-height: 142%;
		font-weight: 500;
	}
	@media (max-width: 992px) {
		.header__block__title {
			font-size: 30px;
		}
	}

	/*----------------------Подвал-----------------*/
	.footer {

	}
	/*----------------------main block-----------------*/
	.main-block {
		position: relative;
	}
	.main-block__body{
		padding: 184px 0px 191px 0px ;
		position: relative;
		z-index: 2;
		max-width: 400px;
	}

	@media (max-width: 992px) {
		.main-block__body{
			padding: 120px 0px 191px 0px;
		}
	}
	.main-block__body> *:not(:last-child) {
		padding: 0px 0px 35px 0px;
	}
	.main-block__title {
		font-size: 58px;
		line-height: calc(80/58*100%);
		font-weight: 800;
		letter-spacing: 0.2px;
	}
	@media (max-width: 479px ) { 
		.main-block__title {
			font-size:40px;
		}
	}
	.main-block__text{
		color: #737373;
		font-size: 20px;
		font-weight: 500;
		line-height: calc(30/20*100%);
	}
	@media (max-width: 479px){
		.main-block__text {
			color: #282525;
		}
	}
	.main-block__buttons {
		display: inline-flex;
		flex-wrap: wrap;
		margin: -10px 0px;
	}
	.main-block__button{
		border-radius: 37px;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 38px;
		color: #fff;
		letter-spacing: 0.2px;
		font-weight: 700;
		line-height: 200%;
		padding: 0px 36px;
	}
	@media (max-width: 479px) {
		.main-block__button{
			flex: 1 1 100%;
		}
	}
	@media (max-width: 479px) {
		.main-block__button_border{
			margin-right: 10px;
		}
	}
	.main-block__button:not(:last-child) {
		margin:	0px 10px 0px 0px;
	}
	.main-block__button_orange{
		background: #FF7B47;
	}
	.main-block__button_border{
		color: #0D5C63;
		border: 1px solid #0D5C63;
	}
	.main-block__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	@media (max-width: 1300px) {
		.main-block__image img {
			object-position: right;
		}
	}
	@media (max-width: 992px) {
		.main-block__image img {
			opacity: 0.5;
		}
	}
	/*-----------------services----*/
	
	.services{

	}
	.services__container{

	}
	.services__body {
	}
	@media (min-width: 670px){
		.services__body {
			display: flex;
			flex-wrap: wrap ;
			margin:  0px -15px ;
		}
	}
	.services__column{
		flex: 0 1 33.333%;
		margin: 0px 0px 30px 0px;
	}
	@media (min-width: 670px){
		.services__column{
			padding: 0px 15px;
		}
	}
	@media (max-width: 992px) {
		.services__column{
			flex: 0 1 50%;
		}
		.services__column:last-child {
			flex:  1 1 100% ;
		}
	}
	

	.services__item {
		box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
		background-color: #fff;
		padding: 35px;
		height: 100%;
	}
	@media (max-width: 479px) {
		.services__item {
			padding: 25px;
		}
	}
	.item-service{
	}
	.item-service > *:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
	.item-service_green {
		background: #0D5C63;
	}
	.item-service_green .item-service__title{
		color: white;
	}
	.item-service_green .item-service__text{
		color: white;
	}
	.item-service__icon
	.item-service__title {
		font-weight: 700;
		font-size: 24px;
		letter-spacing: 0.1px;
		line-height: calc(32/24*100%);
	}
	.item-service__text {
		color :#737373;
		line-height: 142%;
	}
	/*-------------------adventages------------*/

	.adventages{ 
		padding: 80px 0px;
	}
	@media (max-width: 992px) {
		.adventages: {padding: 50px 0px;}
	}
	@media (max-width:767px ) {
		.adventages {
			padding: 30px 0px;
		}
	}
	.adventages__container{}
	.adventages__header{
		margin: 0px 0px 50px 0px;
		text-align: center;
	}
	@media (max-width:767px ) {
		.adventages__header {
			margin: 0px 0px 25px 0px;
		}
	}
	.adventages__body{
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
		font-weight: 700;
	}
	.adventages__column{
		padding: 0px 15px;
		flex: 0 1 25%;
	}
	@media (max-width: 1020px) {
		.adventages__column {
			flex: 0 1 50%;
			margin-top: 10px;
		}
	}
	@media (max-width:  492px) {
		.adventages__column {
			flex: 1 1 100%;
			margin-top: 10px;
		}
	}
	.adventages__item{
		padding: 30px;
		background-color: white;
		text-align: center;
	}
	.adventages__item >* :not(:last-child){
		padding: 0px 0px 10px 0px;
	}
	.adventages__icon{
		display: flex;
		align-items: flex-end;
		justify-content: center;
		height: 40px;

	}
	.adventages__value{
		font-size: 40px;
		line-height: 142%;
	}
	.adventages__text{
		color: #737373;
		font-size: 16px;
		line-height: 150%;
	}
	/*----------------------PRACTICE-------------------*/
	.practice{
		padding: 125px 0px 80px 0px;
	}
	.practice__container{

	}
	.practice__header{
		margin: 0px 0px 45px 0px;
	}
	.practice__body{
		margin: 0px -20px;
		display: flex;
		flex-wrap: wrap;
	}
	.practice__column {
		padding: 0px 20px;
		flex: 0 1 25%;
	}
	@media (max-width: 1040px) {
		.practice__column{
			flex:  0 1 50%;
		}
	}
	.item-practice{
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.practice__item{
		background-color: #fff;

	}
	.item__practice__content {
		padding: 30px; 
		flex: 1 1 auto;
	}
	.item__practice__link{
		color: inherit;
		display: inline-block;
	}
	.item-practice__link:not(:last-child) {
		margin: 0px 0px 15px 0px;
		}	 {
			text-decoration: underline;
		}
		.item__practice__title{
			letter-spacing: 0.1px;
			font-size: 16px;
			line-height: 150%;
			font-weight: 700;
		}
		.item__practice__title:hover {
			text-decoration: underline;
		}
		.item-practice__text{
			color: #727272;
			line-height: 142%;
		}
		.item__practice__image{
			position: relative;
			display: block;
			padding: 0px 0px 60% 0px;
		}
		/*-----------------------whoWeAre---------------*/
		.whoWeAre {
			padding: 80px 0px 130px 0px;
			background-color: #fff;

		}
		
		.whoWeAre__container{}
		.whoWeAre__header{
			margin: 0px 0px 100px 0px;
		}
		@media (max-width: 950px) {
			.whoWeAre__header {
				margin: 0px 0px 50px 0px;
			}
		}
		.whoWeAre__body{
			display: flex;
			align-items: flex-start;
		}
		@media (max-width:  950px) {
			.whoWeAre__body{

				flex-direction: column-reverse;
				align-items: stretch;
			}
			.whoWeAre__body:not(:last-child){
				0px 0px 50px 0px
			}
		}
		.whoWeAre__video{
			flex:  0 0 57%;
			position: relative;
			padding: 0px 0px 42.25% 0px;
		}
		.whoWeAre__video iframe{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left:  0;
			object-fit: cover;
		}
		.whoWeAre__content{
			flex: 1 1 auto;
			padding: 20px 0px 0px 120px;
		}
		
		.whoWeAre__title{
			font-weight: 800;
			font-size: 40px;
			line-height: 142%;
			letter-spacing: 0.2px;
		}
		
		.whoWeAre__top:not(:last-child){
			margin: 0px 0px 10px 0px ;
		}
		.whoWeAre__text{ 
			color: #737373;
			line-height: 150%;
		}

		.whoWeAre__items{
			padding: 50px 0px 0px 0px;
		}
		.whoWeAre__item:not(:last-child) {
			padding: 0px 0px 30px 0px;
		}

		.item-whoWeAre{
			display: flex;
		}
		.item-whoWeAre__icon{
			flex: 0 0;
		}
		.item-whoWeAre__body{
			flex:  1 1 auto;
			padding: 0px 0px 0px 20px;
		}
		.item-whoWeAre__title{
			font-weight: 700;
			font-size: 16px;
			line-height: 150%;
		}
		.item-whoWeAre__title:not(:last-child) {
			padding: 0px 0px 5px 0px;
		}
		.item-whoWeAre__text{
			color: #737373;
			white-space: nowrap;
			line-height: 142%;
			width: 225px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		@media (max-width: 993px) {
			.practice {
				padding: 80px 0px 80px 0px;
			}
		}
		@media (max-width: 767px) {
			.practice {
				padding: 0px 0px 40px 0px;
			}
		}
		@media (max-width:  950px) {
			.whoWeAre__item{
				margin-bottom: 30px;
			}
			.whoWeAre__title {
				font-size: 24px;
			}
			.whoWeAre__content{ 
				padding:0px 0px 0px 50px
			}
			.whoWeAre{
				padding: 50px 0px 50px 0px; 
			}
			.whoWeAre__video{
				padding: 0px 0px 56% 0px;
			}
			.whoWeAre__video:not(:last-child) {
				margin: 50px 0px 50px 0px;
			}
		}
		/*-------------------------client------*/
		.clients {
			padding: 58px 0px;
		}	
		.clients__container{

		}
		.clients__items{
			display: flex;
			flex-wrap: wrap;
			align-items: center ;
			justify-content: center;
		}
		.clients__item{
			flex: 0 1 16.6667%;
			text-align: center;
			padding: 8px 16px;
			min-width: 140px;
		}
		.clients__item img {
			width: 100%;
		}
		/*---------------------Subscribe-------------------*/
		.page_subscribe {
			position: relative;
			padding: 0px 0px 20px 0px;
		}
		.page_subscribe::after {
			content: " ";
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 77px;
			left: 0;
			background-color: #252b42;
		}
		.subscribe__container{}
		.subscribe__body{
			position: relative;
			z-index: 2;
			
			padding: 30px 50px;
			align-items: center;
			background-color: #17213C;
			border-radius: 2px;
		}
		@media (min-width: 1070px) {
			.subscribe__body{
				margin: 0px 30px;
			}
		}
		@media(min-width:  810px) {
			.subscribe__body{
				display: flex;
				justify-content: space-between;
			}
		}
		.subscribe__title{
			max-width: 266px;
			flex: 0 1 50%;
			font-size: 24px;
			line-height: 32px;
			font-weight: 700;
			letter-spacing: 0.1px;
			color: #fff ;
		}
		@media (max-width: 810px) {
			.subscribe__title{
				margin: 0px 0px 10px 0px;
			}
			.subscribe__body{
				margin: 0px -15px;
				padding: 20px 15px;
			}
		}
		.subscribe__form{
			flex:  0 1 50%;
			display: flex;
			align-items: center;
		}
		.subscribe__input{
			flex: 1 1 auto;
			min-height: 58px;
			padding: 0px 22px;
			border: 1px solid #e6e6e6;
			box-sizing: border-box;
			border-radius: 5px 0 0 5px ;
			border-right: none;
		}
		.subscribe__input:focus {
			color: #000;
		}
		.subscribe__button{
			background-color: #FF7B47;
			border: 1px solid #e6e6e6;
			border-radius: 0px 5px 5px 0px;
			display: flex;
			min-height: 58px;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: #fff;
			transition: all 1.3s ease 0.1s;

			padding: 0px 22px;

		}
		.subscribe__button:hover {
			background-color: #FF7B84;
		}
		@media(min-width: 810px){
			.subscribe__title{
				max-width: 266px;
			}
		}
		/*---------------------------getintouch---------------*/
		.getintouch{
			padding: 80px 0px 135px 0px;
		}
		@media(max-width: 767px ) {
			.getintouch{
				padding: 65px 0px 80px 0px;
			}
		}

		.page__getintouch{}
		.getintouch__container{}
		.getintouch__header{
			padding: 0px 0px 80px 0px;
		}
		@media (max-width: 992px) {
			.getintouch__header{
				margin: 0px 0px 50px 0px;
				padding: 20px 20px;
			}
		}
		getintouch__items{
			margin: 0px -15px;
		}
		@media(min-width: 992px){
			.getintouch__items{
				margin: 0px;
				display: flex ;
				align-items: center;
				justify-content: center;
			}
		}
		.getintouch__item{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			padding: 50px 15px;
		}
		.getintouch__item> *:not(:last-child){
			margin: 0px 0px 15px 0px;
		}
		.item-getintouch__active{
			background-color: #252B42;
			color: #fff;
			padding: 80px 15px;

		}
		.item-getintouch__icon{}
		.item-getintouch__emails{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.item-getintouch__email{
			color: inherit;
			font-size: 16px;
			font-weight: 600;
			line-height: 150%;
		}
		.item-getintouch__email:hover {
			text-decoration: underline;
		}
		.item-getintouch__label{
			font-weight: 700;
			font-size: 16px;
			line-height: 150%;
		}
		.item-getintouch__button{
			border: 1px solid #ff7b47;
			min-height: 44px;
			display: flex;
			font-weight: 600;
			justify-content: center;
			align-items: center;
			color: #ff7b47;
			line-height: 142%;
			padding: 0px 20px;
			text-align: center;
			transition: all 1.3s ease 0.1s;
			border-radius: 5px;
		}
		.item-getintouch__button:hover {
			background-color: #ff7b47;
			color: #fff;
			transition: all 1.3s ease 0.1s;
		}
		.item-getintouch__button__active {
			border: 1px solid #fff;
			color: #fff;
			min-height: 44px;
			display: flex;
			font-weight: 600;
			justify-content: center;
			align-items: center;
			line-height: 142%;
			padding: 0px 20px;
			text-align: center;
			transition: all 1.3s ease 0.1s;
			border-radius: 5px;
		}
		.item-getintouch__button__active:hover {
			background-color: #ff7b47;
			color: #fff;
		}
		/*-------------------------Contacts-----------*/
		.contact{
			background-color: #fff;
			padding: 42px 0px;
		}
		.contact__container{

		}
		@media(min-width: 767px){
			.contact__body{
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
		.contact__content{
			padding-right: 20px;
		}
		.contact__title{
			font-weight: 700;
			letter-spacing: 0.1px;
			font-size: 24px;
			line-height: 133%;
		}
		.contact__title:not(:last-child){
			margin: 0px 0px 10px 0px;
		}
		.contact__text{
			color: #737373;
			line-height: 142%;
		}
		.contact__button{
			border: 1px solid;
			border-radius: 5px;
			background-color: #FF7B47;
			padding: 5px 40px;
			color: #fff;
			font-size: 14px;
			font-weight: 700;
			min-height: 58px;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			transition: all 1.3s ease 0.1s;
		}
		.contact__button:hover {
			background-color: #aa5330;
		}
		/*------------------------footer--------------*/
		.footer__top{
			background-color: #252B42;
			padding: 50px 0px;
		}
		.footer__main{

		}
		.footer__row{
			margin: 0px -15px;
			display: flex;
			flex-wrap: wrap;
		}

		.footer__column{
			padding: 20px 5px;
			flex: 0 1 19%;
			max-width: 170px;
		}
		@media (max-width: 992px) {
			.footer__column {
				flex: 0 1 25%;
			}
			.footer__column:last-child {
				flex: 1 1 100%;
			}
		}
		@media (max-width: 992px) {
			.footer__column {
				flex: 0 1 50%;
			}
		}

		.footer__label{
			color: #fff;
			font-weight: 700;
			font-size: 16px;
			line-height: 150%;
			margin: 0px 0px 20px 0px;
		}
		.footer__menu{
		}
		.menu__footer{
		}
		.menu-footer__list{
			color: white;

		}
		.menu-footer__item:not(:last-child){
			margin: 0px 0px 10px 0px;
		}

		.menu-footer__link{
			color: #fff;
			letter-spacing: 0.2px;
			display: inline-block;
			line-height: 142%;
		}
		.menu-footer__link:hover {
			text-decoration: underline;
		}
		.footer__contacts {

		}
		.contacts-footer{
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
		}
		.contacts-footer__item {
			padding: 0px 0px 0px 34px;
			line-height: 142%;
			display: flex;
			align-items: center;
			min-height: 30px;
			color: white;
		}
		.contacts-footer__item:not(:last-child) {
			margin: 0px 0px 12px 0px;
		}
		.contacts-footer__item:hover {
			text-decoration: underline;
		}
		.contacts-footer__item_phone{
			background: url("../img/footer/icons/01.svg") 0 0 no-repeat;

		}
		.contacts-footer__item_map{
			background: url("../img/footer/icons/02.svg") 0 0 no-repeat;
		}
		.contacts__item_email{
			background: url("../img/footer/icons/03.svg") 0 0 no-repeat;

		}
		.footer__bottom{
			padding: 25px 0px;

		}

		@media(min-width: 767px) {
			.footer__container {
				flex-direction: column;
			}
		}
		.footer__copy{
			color: #737373;
			line-height: 171%;
		}
		.footer__social{

		}
		.social {
			display: flex;
			align-items: center;
		}
		.social__item:not(:last-child) {
			margin: 0px 20px 0px 0px;

		}
		@media(max-width: 767px) {
			.footer__copy{
				margin: 0px 0px 15px 0px;
			text-align: center;
			}
		}